@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --primary-color: #871c2d;
        --primary-foreground: #FCFBFF;
        --secondary-color: #616f42;
        --secondary-foreground: #33373B;
        --tertiary-color: #FF66CC;
        --tertiary-foreground: #FCFBFF;
        --background: #EFF4F8;
        --foreground: #33373B;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 224 71.4% 4.1%;
        /* --foreground: 210 20% 98%; */
    }
}

@media print {
  .printable-content {
    width: 2.83in; /* Set width to 2.83 inches */
    height: 78.72in; /* Set height to 78.72 inches */
    overflow: hidden; /* Prevent overflow */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

  @page {
    size: auto portrait;
  }
}
