@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --primary-color: #871c2d;
        --primary-foreground: #FCFBFF;
        --secondary-color: #616f42;
        --secondary-foreground: #33373B;
        --tertiary-color: #FF66CC;
        --tertiary-foreground: #FCFBFF;
        --background: #EFF4F8;
        --foreground: #33373B;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
    }
}

@media print {
  @page {
    size: auto portrait;
  }
}
